.App {
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

button {
  margin-bottom: 15px;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  background-color: #5e60ce;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
